body {
    font-family: 'Roboto',
        sans-serif;
    color: var(--main-text-color);
}

:root {
    --logo-color: #2196F3;
    --main-text-color: #000;
    --contact-color: #757575;
    --slider-background: #2F303A;
    --main-header-color: #FFFFFF;
    --premain-font-weight: 700;
    --logo-font-family: 'Raleway',
        sans-serif;
    --main-text-color: #212121;
    --background-of-team: #F5F4FA;
    --contact-color-footer: rgba(255, 255, 255, 0.6);
    --background-hover-order-button: #188CE8;
}

.content {
    width: 100%;
    margin: 0 auto;
}

/*  header */

.header-content {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
    justify-content: space-around;
}

.logo {
    width: 145px;
    height: 31px;
    font-family: var(--logo-font-family);
    font-weight: var(--premain-font-weight);
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.logo-link {
    text-decoration: none;
    margin-right: 90px;
    width: 18%;
    min-width: 142px;
}

.logo-web {
    color: var(--logo-color);
}

.menu-nav {
    list-style: none;
    display: flex;
    font-size: 14px;
    width: 50%;
    min-width: 250px;
    max-width: 400px;
    justify-content: space-around;
    padding: 0;
    gap: 50px;
}

.menu-nav-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: inline;
}

.menu-nav-link {
    text-decoration: none;
    color: var(--main-text-color);
    transition: 0.18s;
    transition-timing-function: ease-in-out;
}

.menu-nav-link:hover,
.menu-nav-link:focus {
    color: var(--logo-color);
}

.contacts {
    list-style-type: none;
    font-size: 14px;
    padding: 0;
    display: flex;
    gap: 50px;
    margin: 0;
}

.contacts-item-mail {
    display: inline;
}

.contacts-item-phone {
    display: inline;
}

.contacts-item {
    text-decoration: none;
    color: var(--contact-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: 0.18s;
    transition-timing-function: ease-in-out;
}

.contacts-item:hover,
.contacts-item:focus {
    color: var(--logo-color);
}

/* section1 */

.service {
    background: var(--slider-background);
    display: flex;
    height: 600px;
    flex-direction: column;
    align-items: center;
    min-width: 693px;
    background-image: linear-gradient(to top, transparent, rgba(47, 48, 58, 0.4)), url(/images/Img.png);
    background-repeat: no-repeat;
    background-position: center;

}

.main-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-header-color);
    text-align: center;
    max-width: 696px;
    margin: 200px 0 0 0;
}

.order-button {
    width: 200px;
    height: 50px;
    background: var(--logo-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: var(--premain-font-weight);
    font-size: 16px;
    line-height: 1.8;
    color: var(--main-header-color);
    margin-top: 30px;
    border: none;
}

.order-button:hover,
.order-button:focus {
    background-color: var(--background-hover-order-button)
}

/* section2 */

.services-header {
    display: none;
}

.table-of-contents {
    list-style: none;
    display: flex;
    margin: 94px 0 0 0;
    justify-content: center;
    padding: 0 0 94px 0;
    gap: 30px;
}

.table {
    width: 270px;
    height: 100px;
    padding-bottom: 120px;
}

.table-logo {
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.table-logo-item {
    padding: 25px 0;
}

.table-items {
    font-weight: var(--premain-font-weight);
    font-size: 14px;
    line-height: 1.14x;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--contact-color);
    margin: 0;
}

/* section 3  */

.occupation {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.occupation-header {
    font-size: 36px;
    font-weight: var(--premain-font-weight);
}

.occupation-item {
    list-style-type: none;
    display: flex;
    font-weight: var(--premain-font-weight);
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    min-width: 370px;
}

/* section 4  */

.team {
    background: var(--background-of-team);
    margin-top: 94px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.team-head {
    font-weight: var(--premain-font-weight);
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding: 94px 0 50px 0;
    margin: 0;
}

.last-team-block {
    margin-right: 0;
}

.team-members {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-bottom: 94px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    min-width: 270px;
    justify-content: center;
}

.team-members-block {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.job-title {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--contact-color);
    margin: 0;
}

.social-network {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 16px 32px 30px 32px;
    width: 206px;
}

.social-network-item {
    width: 44px;
    height: 44px;
    display: flex;
    gap: 10px;
    border-radius: 50%;
    justify-content: center;
}

.social-network-item:hover,
.social-network-item:focus {
    background-color: var(--logo-color);
    transition: all 0.3s ease-out;
}

.social-network-item:hover .social-network-item-logo {
    filter: brightness(1.5);
    transition: all 0.3s ease-out;
}

/* section 5 */

.customers-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin: 0;
    padding: 94px 0 50px 0;
}

.customers-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 0 94px 0;
    margin: 0;
}

.customers-logo {
    padding: 20px 0;
}

.customers-list-item {
    border-style: solid;
    border-radius: 5px;
    border-color: #AFB1B8;
    width: 170px;
    display: flex;
    justify-content: center;
}

.customers-list-item:hover {
    border-color: var(--logo-color)
}

.customers-list-item:hover .customers-logo {
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}


/* footer */

.lower-content {
    background-color: var(--slider-background);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.footer-block {
    padding: 60px 0 60px 125px;
}

.content-logo {
    text-decoration: none;
}

.logo-footer {
    width: 145px;
    height: 31px;
    top: 2157px;
    font-family: var(--logo-font-family);
    font-weight: var(--premain-font-weight);
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.logo-studio {
    color: var(--main-header-color);
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.company-location {
    padding-top: 20px;
    width: 231px;
    margin: 0;
}

.contacts-location {
    text-decoration: none;
    color: var(--main-header-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.contacts-item-lower {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
    color: var(--contact-color-footer);
}

.social-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.footer-social-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-header-color);
    margin: 0;
    padding: 72px 0 0 0;
}

.footer-social-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    /* width: 206px; */
    margin: 0;
    gap: 10px;
}

.footer-social-list-item {
    width: 44px;
    height: 44px;
    display: flex;
    gap: 10px;
    border-radius: 50%;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
}

.footer-social-list-item:hover {
    background-color: var(--logo-color);
    transition: 0.2s ease-in-out;
}

.footer-social-logo {
    filter: brightness(1.5);
}


@media screen and (max-width: 820px) {
    .contacts {
        flex-direction: column;
        gap: 10px;
    }

    .menu-nav {
        gap: 10px;
        min-width: 190px;
    }

    .logo-link {
        margin-right: 10px;
    }

    .customers-list {
        gap: 5px;
    }

    .occupation {
        padding-top: 50px;
    }

    .lower-content {
        padding-bottom: 0;
    }

    .footer-social-bloc {
        padding: 10px 0 20px 50px;
    }
    .footer-social-header {
        padding-top: 10px;
    }
}

@media screen and (max-width: 430px) {
    .service {
        width: 400px;
        min-width: 440px;
    }

    .main-header {
        min-width: 440px;
        font-size: 30px;
    }

    .lower-content {
        /* width: 440px; */
        flex-direction: column;
    }

    .footer-block {
        padding: 60px 0 0 50px;
    }

    .customers-list {
        flex-direction: column;
    }
}


/* portfolio */

/* filter */

.main {
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
}

.maint-content-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1170px;
}

.main-content {
    margin-top: 94px;
    display: flex;
    justify-content: center;
    padding-bottom: 34px;
}

.filter {
    list-style: none;
    display: flex;
    margin: 0;
}

.filter-button {
    cursor: pointer;
    background: var(--background-of-team);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border: none;
    margin-right: 8px;
    padding: 6px 22px 6px 22px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.filter-button:hover,
.filter-button:focus {
    background: var(--logo-color);
    filter: drop-shadow(0 4px 2px gray);
}

/* projects */

.projects {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-block {
    box-sizing: border-box;
    background: var(--main-header-color);
    border: 1px solid #EEEEEE;
    width: 370px;
    height: 404px;
}

.projects-header {
    font-style: normal;
    font-weight: var(--premain-font-weight);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects-item {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}